<div class="row mt-5">
  <div class="col">
      <h1>{{currency?.code}} Details</h1>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
      <ul>
          <li>code: {{currency?.code}}</li>
          <li>name: {{currency?.name}}</li>
          <li>min confirmations: {{currency?.min_confirmations}}</li>
          <li>is crypto: {{currency?.is_crypto}}</li>
          <li>minimal amount: {{currency?.minimal_amount}}</li>
          <li>is base of enabled pair: {{currency?.is_base_of_enabled_pair}}</li>
          <li>has enabled pairs: {{currency?.has_enabled_pairs}}</li>
          <li>withdrawal fee: {{currency?.withdrawal_fee}}</li>
        </ul>
  </div>
</div>

